// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
//@import "variables";
// Bootstrap
//
.dataTables_info {
  width: auto;
}

.dataTables_length {
  width: auto;
}
